extends layout

block content
  include navigation
  div.container
    h1= title
    if error
      div.alert.alert-danger
        p= error
    table#dataList.table
      thead.thead-default
        tr
          th #
          th.col-sm-2 タイトル
          th.col-sm-2 サブタイトル
          th.col-sm-1 プレビュー
          th.col-sm-2 リンク先
          th.col-sm-1 位置
          th.col-sm-1 順位
          th.col-sm-1 最終更新者
          th.col-sm-1 最終更新日
          th  
          th  
      tbody
       each data in datas
          tr
            td= data.number
            td= data.title
            td= data.sub_title
            td
                img.img-thumbnail(src=data.image_path alt="※画像ファイルなし" style="width:100%;")
            td
              p(style="word-break: break-all;")
                a(href= data.link target="_blank") #{data.link}
            td= data.coordinate
            td= data.priority

            td
                p(style="width:80px;") #{data.user_name}
            td= data.last_updated_date
             td
              form(action="/back/tairu/update" method="get")
                button.btn.btn-success(type="submit" name="tairuId" value= data.id) 編集
            td
              form(action="/back/tairu/delete" method="post")
                div.form-group
                  input(type="hidden" name="tairuId" value= data.id)
                  button.btn.btn-danger(onclick="return toggleModal($(this).closest('.form-group').find('.confirmModal'))") 削除
                  div.confirmModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
                    div.modal-dialog(role="document")
                      div.modal-content
                        div.modal-header
                          h4#exampleModalLabel.modal-title 削除確認
                        div.modal-body キャラ情報は復元できません。削除します。
                        div.modal-footer
                          button.btn.btn-secondary(type="button" data-dismiss="modal") キャンセル
                          button.btn.btn-danger(type="submit") 削除
    div.paging
  script.
    $('#dataList').datatable({
    pageSize: 20,
    sort: [true, true, true, true, true,true,true,false,false,false,false],
    filters: [false, false, false, false, false, false, false, false, false, false, false],
    });
    toggleModal = function(selecter) {
    console.log(selecter);
    selecter.modal('toggle');
    // submit防止の為falseを返却
    return false;
    }